<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.viettel.vpmt.mobiletv">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".App">
        <activity android:name=".screen.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".screen.login.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.home.HomeBoxActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".screen.videodetail.activity.VideoDetailActivity"/>
        <activity android:name=".screen.film.activity.FilmActivityDetail"/>
        <activity android:name=".media.PlayerActivity"
                  />
        <!-- Fabric -->
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="12586f38823c53b38ef94aa37bd55f447502cfa6"/>

    </application>

</manifest>
